<h1>Editing bottle type</h1>

<%= render "form", bottle_type: @bottle_type %>

<br>

<div>
  <%= link_to "Show this bottle type", @bottle_type %> |
  <%= link_to "Back to bottle types", bottle_types_path %>
</div>
