<div id="<%= dom_id food_subtype %>">
  <p>
    <strong>Name:</strong>
    <%= food_subtype.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= food_subtype.description %>
  </p>

  <p>
    <strong>Food type:</strong>
    <%= food_subtype.food_type_id %>
  </p>

</div>
