<h1>Editing food subtype</h1>

<%= render "form", food_subtype: @food_subtype %>

<br>

<div>
  <%= link_to "Show this food subtype", @food_subtype %> |
  <%= link_to "Back to food subtypes", food_subtypes_path %>
</div>
