<p style="color: green"><%= notice %></p>

<h1>Food subtypes</h1>

<div id="food_subtypes">
  <% @food_subtypes.each do |food_subtype| %>
    <%= render food_subtype %>
    <p>
      <%= link_to "Show this food subtype", food_subtype %>
    </p>
  <% end %>
</div>

<%= link_to "New food subtype", new_food_subtype_path %>
