<div id="<%= dom_id pairing_score %>">
  <p>
    <strong>Score:</strong>
    <%= pairing_score.score %>
  </p>

  <p>
    <strong>Wine type:</strong>
    <%= pairing_score.wine_type_id %>
  </p>

  <p>
    <strong>Food subtype:</strong>
    <%= pairing_score.food_subtype_id %>
  </p>

</div>
