<div id="<%= dom_id wine_subtype %>">
  <p>
    <strong>Name:</strong>
    <%= wine_subtype.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= wine_subtype.description %>
  </p>

  <p>
    <strong>Wine type:</strong>
    <%= wine_subtype.wine_type_id %>
  </p>

</div>
