<p style="color: green"><%= notice %></p>

<h1>Wine subtypes</h1>

<div id="wine_subtypes">
  <% @wine_subtypes.each do |wine_subtype| %>
    <%= render wine_subtype %>
    <p>
      <%= link_to "Show this wine subtype", wine_subtype %>
    </p>
  <% end %>
</div>

<%= link_to "New wine subtype", new_wine_subtype_path %>
