<div id="<%= dom_id wine_type %>">
  <p>
    <strong>Name:</strong>
    <%= wine_type.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= wine_type.image_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= wine_type.description %>
  </p>

</div>
