<h1>Editing wine type</h1>

<%= render "form", wine_type: @wine_type %>

<br>

<div>
  <%= link_to "Show this wine type", @wine_type %> |
  <%= link_to "Back to wine types", wine_types_path %>
</div>
